@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    src: url(fonts/OpenSans-Regular.woff2) format(woff2);
}
@font-face {
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    src: url(fonts/OpenSans-Bold.woff2) format(woff2);
}
*{
    margin: 0;
    padding: 0;
    block-size: border-box; /*вычесление размера*/
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}
:root {
    --color-text-black: #000000;
    --colot-text-white: #FFFFFF;
    --color-title-blue: #2E5587;
    --color-text-gray: #383A3C;

    --button-green: #6BB233;

    --background-color-gray: #EAEDF0;
    --background-color-blue: #DFE6EF;
    --background-color-white: #FFFFFF;
    --background-color-black: #000000;
    --background-color-green: #6BB233;
    --bacground-color-blue-footer:#3B5976;
    --bacground-color-blue-footer-copyright :#2A4051;

    --color-text-black-hover: #0a0a0a;
    --colot-text-white-hover: #dedede;
    --colot-title-blue-hover: #2a5081;

    --color-border-gray: #CCCDD7;
    --color-border-light-gray: #DADADA;

    --button-green-hover: #65b826;

    --font-size-title: 50px;
    --font-size-description: 16px;
    --font-size-title-card: 18px;
    --font-size-description-card: 16px;
    --font-size-title-footer-nav: 18px;
    --font-size-description-footer-copyright: 14px;
    --font-size-title-header-nav: 17px;
    --font-size-title-main: 55px;
    --font-size-title-header-call: 15px;

    --font-weight-title: bold;
    --font-weight-description: normal;

    --max-width: 1410px;
    --min-width: 290px;

    --padding-left: 120px;
}
.conteiner {
    max-width: var(--max-width);
    margin: 0 auto;
    min-width: var(--min-width);
}
header, .feedback, .link ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.icons {
    display: flex;
    align-items: center;
    gap: 40px;
}
nav {
    width: 100%;
}
.link {
    background-color: var(--background-color-gray);
    color: var(--color-text-black);
    padding: 16px 0;
}
.link a {
    color: var(--color-text-black);
}
.phone {
    color: var(--color-title-blue);
    font-size: var(--font-size-title-header-nav);
    font-weight: var(--font-weight-title);
}
.feedback-btn {
    color: var(--button-green);
    font-size: var(--font-size-title-header-call);
    font-weight: var(--font-weight-title);
    border-right: var(--color-border-gray) solid 1px;
    padding-right: 22px;
}
.email {
    color: var(--color-text-black);
    font-size: var(--font-size-title-header-nav);
    font-weight: var(--font-weight-description);
}
.icons a:nth-child(1) {
    border-right: var(--color-border-gray) solid 1px;
    padding-right: 22px;
}
.slide-main {
    background-image: url(../img/BackgroundSlider1.svg);
}
.slide-main:nth-child(2) {
    background-image: url(../img/BackgroundSlider2.svg);
}
.slide-main:nth-child(3) {
    background-image: url(../img/BackgroundSlider3.svg);
}
.title-main {
    font-size: var(--font-size-title-main) ;
    font-weight: var(--font-weight-title);
    color: var(--colot-text-white-hover);
    width: 643px;
}
.discription-main {
    font-size: var(--font-size-description-card);
    font-weight: var(--font-weight-description) ;
    color: var(--colot-text-white);
    display: flex;
    align-items: center;
    gap: 19px;
    margin-top: 41px;
}
.discription-main p{
    width: 227px;
}
.slides-main {
    padding: 103px 0 89px 0;
}
.next,.prev{
    background-color: var(--background-color-white);
    width: 58px;
    height: 58px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.prew{
    left: 12.5%;
}
.next{
    left: 20%;
}
.swiper-pagination-white span{
    background-color: var(--background-color-white);
    height: 5px;
    width: 5px;
}
.swiper-button-next-white::after, .swiper-button-prev-white::after{
    display: none;
}
.swiper-button-next-white, .swiper-button-prev-white {
    display: none;
    width: 100% !important;
    height: 100% !important;
    position: relative;
}
.swiper-button{
    position: relative;
    width: 100%;
}
.swiper-padding{
    padding-bottom: 20px;
}
.title-cards-conteiner {
    font-size: var(--font-size-title);
    color: var(--color-title-blue);
    font-weight: var(--font-weight-title);
}
.description-cards {
    font-size: var(--font-size-description);
    color: var(--color-text-gray);
    font-weight: var(--font-weight-description);
    text-align: center;
    padding: 47px 0 40px 0;
}
.cards-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 33px;
    column-gap: 30px;
}
.text-width {
    width: 100%;
    text-align: center;
}
.border {
    height: 100px;
    border-bottom: 1px solid var(--color-border-light-gray);
    border-left: 1px solid var(--color-border-light-gray);
    border-right: 1px solid var(--color-border-light-gray);
}
.card-img {
    display: block;
}
.title-cards {
    font-size: var(--font-size-title-card);
    font-weight: var(--font-weight-title);
    color: var(--color-text-black);
    padding: 19px 0 0 28px;
}
.card:nth-last-child(1) {
    background-color: var(--background-color-blue);
    width: 450px;
}
.card:nth-last-child(1) .border {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.cards-conteiner {
    margin-top: 156px;
}
